<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.microanswer.healthy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".application.Healthy"
        android:allowBackup="true"
        android:icon="@mipmap/tb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UserCenterActivity"
            android:label="@string/usercenter" />
        <activity
            android:name=".RegActivity"
            android:label="@string/reg"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SetActivity"
            android:label="@string/set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FriendsActivity"
            android:label="关注好友"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".FriendActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainSetActivity"
            android:label="主界面设置"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.microanswer.healthy.MainSetActivity"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DonationActivity"
            android:label="捐赠"
            android:screenOrientation="portrait"/>
    </application>

</manifest>